* {
    box-sizing: border-box;
}

nav ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-top: 20px;
    background-color: black;
}

nav ul li {
    text-align: center;
}

nav ul li a{
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25em;
    color: white;
    font-weight: bold;
    display: block;
    background-color: #222;
}

nav ul li a:hover{
    background-color: black;
}

@media (max-width: 760px){
    ul {
        flex-direction: column;
    }
}
