@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
  }

.main-head {grid-area: header;}
.main-nav {grid-area: nav;}
.content {grid-area: main;}
.ads {grid-area: rightMain;}
.side {grid-area: leftMain;}
.main-footer {grid-area: footer;}

.wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 15% 35% 35% 15%;
    grid-template-areas: 
    'header header header header'
    'nav nav nav nav'
    'leftMain main main rightMain'
    'footer footer footer footer';
}

.wrapper .main-head, .main-nav, .content, .ads, .side, .main-footer {
    border: 1px black solid;
}

.main-head {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    height: 100px;
    text-align: center;
    text-transform: capitalize;
    padding: 30px;
    background-color: whitesmoke;
}

.main-nav ul {
    display: flex;
    margin: 0px;
    padding: 15px;
    background-color: black;
    list-style: none;
}

.main-nav ul li a {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1em;
    padding: 25px 30px;
    text-decoration: none;
    color: white
}


.main-nav ul li a:hover {
    color:indianred;
}

@media (max-width: 600px){
    .main-nav ul {
        flex-direction: column;
    }
    .wrapper {
        grid-template-columns: auto;
        grid-template-areas: 
        'header'
        'nav'
        'leftMain'
        'main'
        'rightMain'
        'footer';
    }
}


.content h1{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 10px;
}

.content p{
    padding-left: 10px;
}

.side, .ads {
    text-align: center;
}
