section {
    background-color: rgb(241, 241, 241);
    text-align: center;
    border: 1px solid black;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.one {
    float: left;
    width: 33%;
}

.two {
    float: left;
    width: 33%;
}

.three {
    float: left;
    width: 33%;
}

nav {
    background-color: darkred;
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    font-size: 1.35em;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
}

nav ul li {
    text-align: center;
    line-height: 50px;
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: rgb(100, 2, 2);
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(219, 219, 219);
    background-color: rgb(68, 2, 2);
}

footer {
    text-align: center;
    background-color: rgb(161, 157, 157);
    font-size: 1em;
    clear:both;
    height: 50px;
}
