@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    margin-left: 20%;
    padding-left: 30px;
}

section {
    margin-left: 20%;
    padding-left: 30px;
    padding-top: 10px;
}

aside {
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(192, 8, 8);
}

aside a {
    text-align: center;
    font-size: 1.25em;
    background-color: darkred;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: block;
    margin: 5px 5px 5px 5px;
    height: 50px;
    line-height: 50px;
}

aside  a:hover {
    background-color: rgb(238, 145, 145);
}
