@keyframes example{
    0%  {width: 100px; left: 100px}
    25%  {width: 200px; left: 150px}
    50%  {width: 300px; left: 200px}
    75%  {width: 400px; left: 250px}
    100%  {width: 500px; left: 300px}

}

.one {
    position: absolute;
      left: 0px;
      top: 0px;
    text-align: center;
    background-color: darkmagenta;
    width: 200px;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.two {
    text-align: center;
    background-color: darkgreen;
    width: 200px;
}

.three {
    text-align: center;
    background-color: yellow;
    width: 200px;
}

.four {
    text-align: center;
    background-color: purple;
    width: 200px;
}

.five {
    text-align: center;
    background-color: orange;
    width: 200px;
}
