.one {
    height: 400px;
    width: 100%;
    background: linear-gradient(45deg, green, red);
}

.two {
    height: 400px;
    width: 100%;
    background: radial-gradient( blue 20px, purple 25%, red);
}

.three {
    height: 400px;
    width: 100%;
    background: linear-gradient(to bottom left, cyan, yellow, green);
}

.four {
    height: 400px;
    width: 100%;
    background: linear-gradient(0deg, cyan, green);
}

.five {
    height: 400px;
    width: 100%;
    background: linear-gradient(to bottom left, blue 25%, purple 20%, green);
}
