.one {
    text-align: center;
    background-color: darkmagenta;
    transform: translate(400px, 200px);
    width: 200px;
}

.two {
    text-align: center;
    background-color: darkgreen;
    transform: rotate(45deg);
    width: 200px;
}

.three {
    text-align: center;
    background-color: yellow;
    transform: scale(2, 4);
    width: 200px;
}

.four {
    text-align: center;
    background-color: purple;
    transform: skewX(45deg);
    width: 200px;
}

.five {
    text-align: center;
    background-color: orange;
    transform: matrix(0.5, 0.3, 0, 1, 0,0);
    width: 200px;
}
