* {
    box-sizing: border-box;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.gallery .one, .two, .three {
    width: 33.3%;
    padding: 5px;
}

img {
    width: 100%;
}

@media (max-width: 680px) {
    .one, .two, .three {
        flex: 100%;
    }
}
