<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
        <title>Flash Card App</title>
    </head>
    <body>

        <div id="app">
            <h1>Deck Settings</h1>

            <form method="post" action="">
                <div>
                    <label for="name">Name: </label>
                    <input v-model="deckName" type="text" id="name" name="name"> {{ deckName.length }} characters
                </div>

                <div>
                    <label for="description">Description: </label>
                    <textarea v-model="deckDescription" id="description" name="description"></textarea>
                    ({{ 200 - deckDescription.length }} chars left)
                </div>

                <button type="submit">Create</button>
            </form>
        </div>

        <script src="https://unpkg.com/vue@3.0.7/dist/vue.global.js"></script>
        <script>
            const FlashCardApp = {
                data() {
                    return {
                        deckName: 'Vue.js Fundamentals',
                        deckDescription: ''
                    };
                }
            };

            const app = Vue.createApp(FlashCardApp).mount('#app');
        </script>
    </body>
</html>
