* {
    box-sizing: border-box;
}

h1 {
    color: white;
    background-color: black;
    text-align: center;
    font-family: Ubuntu;
}

section img{
    float: left;
    width: 33%;
    padding: 5px;
}

footer {
    text-align: center;
    font-size: 1em;
    clear:both;
}
